@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: aliceblue;
}

strong {
  color: var(--neutral-white, #FFF);
  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.bg-indigos {
  border-radius: 25px;
  background: #171821;
}

.ssd {
  max-width: 80px;
}

.bg-gray-8000 {
  background-color: black;
}

.btnsd {
  border-radius: 32px;
  background: #F60;
  display: flex;
  padding: 16px 85px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Takenomics {
  color: var(--neutral-grey-5, #E0E0E0);
  text-align: center;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  /* 54px */
}