@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: aliceblue;
}

strong {
  color: var(--neutral-white, #FFF);
  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.bg-indigos {
  border-radius: 25px;
  background: #171821;
}

.ssd {
  max-width: 80px;
}

.bg-gray-8000 {
  background-color: black;
}

.btnsd {
  border-radius: 32px;
  background: #F60;
  display: flex;
  padding: 16px 85px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Takenomics {
  color: var(--neutral-grey-5, #E0E0E0);
  text-align: center;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  /* 54px */
}

.lefsfg {
  left: 917px;
  top: 455px;
  width: 424px;
}

.lefsfg2 {
  left: 1223px;
  top: 272px;
  width: 424px;

<<<<<<< HEAD
}

.price-input {
  background-color: transparent;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%
}

.gap-y-4 {
  -webkit-row-gap: 1rem;
  -moz-row-gap: 1rem;
  grid-row-gap: 1rem;
  row-gap: 1rem;
=======
>>>>>>> 94c011d000357a2d76a0de831c36e2581d8bf68c
}